* {
  margin: 0;
  padding: 0;
  --COR00: rgb(0, 0, 128);
  --COR01: rgb(0, 0, 192);
  --COR02: rgb(0, 0, 255);
  --COR03: rgb(0, 64, 255, 0.3);
  --COR04: rgba(0, 128, 255, 0.3);
  --COR05: rgba(0, 191, 255, 0.3);
}

body {
  background-color: var(--COR05);
}

header {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 18px 0;
  display: flex;
  justify-content: center;
}

main {
  background-color: var(--COR04);
  width: 90%;
  margin: 15px auto;
  border-radius: 10px;
  padding: 10px;
}
main #titulo {
  font-size: 30px;
  padding: 25px 0;
  text-align: center;
}
main #caixaAvo {
  background-color: var(--COR03);
  display: flex;
  justify-content: center;
  margin: auto;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
}
main #caixaAvo section {
  flex: 1;
}
main #caixaAvo aside {
  min-width: 150px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table thead tr {
  border-bottom: 2px solid #ccc;
}
table thead tr th {
  text-align: left;
  padding: 5px;
}
table tbody tr {
  border-bottom: 2px solid #ccc;
}
table tbody tr td {
  padding: 15px;
}